
.background-home {
    background-image: 
    url("https://images.pexels.com/photos/8734473/pexels-photo-8734473.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&dpr=1");
    margin-top:0;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-home {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 0;
}
.titles-navbar {
    font-size: .75rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.buttons-home {

    margin-bottom: 20%;
}

.nombre-web {
    font-family: 'Fasthand';
    font-size: 2.5rem;
    margin-bottom: 0;
    padding: 3px;
    text-align: center;
}

.nav-bar-font {
    font-family: 'Roboto';
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

.form-white.input-group>.form-control:focus {
  border-color: #fff;
  box-shadow: inset 0 0 0 1px #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  padding: .55rem 1.5rem .45rem;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }

  